html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #8E2DE2, #4A00E0, #8E2DE2, #4A00E0);
  background-size: 400% 400%;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 600;
  margin: 0 0 2.5rem;
}

p {
  margin: 0 0 0.625rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
