html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #8E2DE2, #4A00E0, #8E2DE2, #4A00E0);
  background-size: 400% 400%;
  font-family: "Epilogue", sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 600;
  margin: 0 0 2.5rem;
}

p {
  margin: 0 0 0.625rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.navigation {
  background: linear-gradient(180deg, #1B1B1B 0%, #1E1E1E 100%);
  width: 150px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.hero__container {
  margin-left: 100px;
}

.hero__description {
  font-weight: 500;
  font-size: 1.25rem;
}

.hero__name {
  color: #34FA55;
}

.hero__title {
  font-size: 6rem;
}
