---
import 'normalize.css';
import '@fontsource/epilogue';

import '../styles/global.css';

import { Navigation } from '../components/Navigation';
import { Hero } from '../components/Hero';
---

<html lang='en'>
  <head>
    <!--
      This is a work in progress. At the moment, very basic things like mobile responsiveness 
      are not implemented. I'm working on it!
    -->
    <meta charset='utf-8' />
    <!-- Favicon by https://iconscout.com/contributors/kolo-design -->
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Adam Yeats | adamyeats.dev</title>
    <meta
      name='description'
      content='Adam Yeats is a software engineer based in Amsterdam, The Netherlands.'
    />
    <meta name='author' content='Adam Yeats' />
  </head>
  <body>
    <Navigation />
    <Hero />
  </body>
</html>
